body {
    background:rgba(245, 245, 220, 1);
    background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 169 169' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.08' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 169 169' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.29' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

/* header {
    background-color: white;
    padding: 30px;
} */

/* Styling the header */
header {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling the title */
header a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

/* Styling the navigation */
nav {
    display: flex;
    gap: 15px;
}

/* Styling the navigation links */
nav a {
    font-size: 1rem;
    color: #555;
    text-decoration: none;
    transition: color 0.3s;
}

/* Hover effect for links */
nav a:hover {
    color: #0070f3; /* Highlight with a nice blue */
}







html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: rgb(46, 50, 117);
    margin-bottom: 2rem !important;
}

h2 {
    font-size: 1.25rem !important;
}

h1,
h2,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
}
